.app-container{
    display: flex;
}

.content{
 width: 100%;
}
.sidebar {
    min-height: 800px ;
}
.post{
    margin: 30px 20px;
}

.create-post{
    width: 50%;
    margin-top:50px ;
    margin-left: 10%;
}